{% extends "base.html" %}

{% block content %}

<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">поиск диски r19</a></li>
	</div>
</ul>

<section class="politics">
	<div class="container">
		<h2>
			Политика конфиденциальности обработки <br> персональных данных на сайте
		</h2>
		<div class="politics__item row">
			<div class="politics__left">
				Пользователь Сайта
			</div>
			<div class="politics__right">
				Лицо, имеющее доступ к Сайту посредством сети Интернет и использующее данный Сайт для своих целей (субъект
				персональных данных)
			</div>
		</div>
		<div class="politics__item row">
			<div class="politics__left">
				Персональные данные
			</div>
			<div class="politics__right">
				Любая информация, относящаяся к прямо или косвенно определенному
				или определяемому физическому лицу - Пользователю Сайта (субъекту персональных данных).
			</div>
		</div>
		<div class="politics__item row">
			<div class="politics__left">
				Специальные категории персональных данных
			</div>
			<div class="politics__right">
				Персональные данные, касающиеся расовой, национальной принадлежности, политических взглядов, религиозных или
				философских убеждений, состояния здоровья, интимной жизни
			</div>
		</div>
		<div class="politics__item row">
			<div class="politics__left">
				Конфиденциальность персональных данных
			</div>
			<div class="politics__right">
				Обязательное для соблюдения Администрацией Сайта требование не раскрывать третьим лицам
				и не распространять персональные данные без согласия субъекта персональных данных,
				если иное не предусмотрено федеральным законом
			</div>
		</div>
		<div class="politics__item row">
			<div class="politics__left">
				Обработка
				персональных данных
			</div>
			<div class="politics__right">
				Любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств
				автоматизации или без использования таких средств с персональными данными, включая сбор, запись,
				систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу
				(распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
				данных
			</div>
		</div>
	</div>
</section>
{% endblock content %}